= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
- title "Garten"

%p
  %strong Name:
  = @garden.name
%p
  %strong Ort:
  = @garden.place
%p
  %strong Beete:
  #garden
    - @garden.beds.each do |bed|
      = render partial: 'bed', locals: {bed: bed}
%p
  %strong Tasks:
  - @garden.tasks.each do |task|
    %p
      = task.title


%p{"id" => "new_bed_link"}
  = link_to "Neues Beet", new_garden_bed_path(@garden)

%p{"id" => "new_task_link"}
  = link_to "Neuer Task", new_garden_task_path(@garden)

%p
  = link_to "Edit", edit_garden_path(@garden)
  |
  = link_to "Destroy", @garden, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", gardens_path

  =# form_for :bed, {url: gardens_move_path } do |f|
  =# f.hidden_field("bed_id")