- title "Garten"

%p
  %strong Name:
  = @garden.name
%p
  %strong Ort:
  = @garden.place
%p
  %strong Beete:
  - @garden.beds.each do |bed|
    %div.draggable.resizable{:id => "bed_box.#{to_html_tag bed.name}"}
      %p
        = link_to bed.name, bed_path(bed, :garden => @garden)
      %p Pflanzen:
      %ul
        - bed.plants.each do |plant|
          %li= link_to plant, plant

%p{"id" => "new_bed_link"}
  = link_to "Neues Beet", new_bed_path(:garden => @garden)

%p
  = link_to "Edit", edit_garden_path(@garden)
  |
  = link_to "Destroy", @garden, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", gardens_path


