<% title @bed.name %>
<p>
  <b>Name:</b>
  <%= @bed.name%>
</p>
<p>
  <b>Status:</b>
  <%= @bed.field_state%>
</p>

<p>
  <b>Gewählte Pflanzen:</b>
  <% @bed.plants.each do |plant| %>
    <%= plant.name %>
  <%  end %>
</p>

<%= link_to 'Edit', edit_garden_bed_path(@garden, @bed) %> |
<%= link_to 'Destroy', [@garden, @bed], :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'zurück zum Garten', @garden %>
